<ion-view>
  <ion-content>
    <div class="row row-center row-responsive-lg ">
      <div class="col text-center">
        <form ng-submit = "createTheme()">
          <h1> Créez votre propre théme </h1>
          <div class="list">
            <label class="item item-input">
              <span class="input-label">Background image</span>
              <input ng-model = "theme.background" type="text" placeholder="'img/backgroundlight.png'">
            </label>
            <label class="item item-input">
              <span class="input-label">Police</span>
              <input  ng-model = "theme.font" type="text" placeholder="'Roboto'">
            </label>
            <label class="item item-input">
              <span class="input-label">Couleur bouton</span>
              <input ng-model = "theme.color_btn" type="text" placeholder= "#F67936">
            </label>
            <label class="item item-input">
              <span class="input-label">Couleur juste</span>
              <input ng-model = "theme.color_right" type="text" placeholder= "#8ec161">
            </label>
            <label class="item item-input">
              <span class="input-label">Couleur Faux</span>
              <input ng-model ="theme.color_false" type="text" placeholder= "#d3000d">
            </label>
            <label class="item item-input">
              <span class="input-label">Couleur normal</span>
              <input ng-model = "theme.color_btn_normal" type="text" placeholder= "#444">
            </label>
            <label class="item item-input">
              <span class="input-label">Couleur texte</span>
              <input ng-model = "theme.color_text" type="text" placeholder= "black">
            </label>
            <label class="item item-input">
              <span class="input-label">Couleur bar</span>
              <input ng-model = "theme.color_bar" type="text" placeholder= "#F67936">
            </label>
          </div>
            <button type="submit" class="button button-dark button-big ">Créer </button>
        </form>
        <div class ="col">
          <button ng-click ="next()"class="button button-dark">Sauter cette étape </button>
        </div>
    </div>
  </div>
  </ion-content>
</ion-view>
