<ion-view view-title="Data">
  <div class="tabs tabs-bottom ">
    <a href ='#/data-user' class="tab-item">
      Utilisateurs
    </a>
    <a href ='#/data-stats' class="tab-item">
      Statistiques
    </a>
    <a href ='#/data-dotation' class="tab-item">
      Dotations
    </a>
  </div>
  <ion-content>
    <button class ="button button-dark" ng-click = "fin()">HOME</button>
    <div class="row row-center text-center responsive-sm">
      <div class="col col-80 col-offset-10 ">
        <button ion-ripple class="button button-dark button-block" ng-click ="removeDB()">Réinitialiser la base</button>
      </div>
    </div>
  </ion-content>
</ion-view>
