<ion-view view-title="Form">
  <ion-content>
    <div class="row row-center row-responsive-lg ">
      <div class="col text-center">
          <h2>Merci d'avoir répondu à notre questionnaire</h2>
          <h4>Tu souhaites en savoir plus sur le programme ERASMUS ? Complète ce formulaire et tente de gagner un des lots mis en jeu</h4>
          <!-- <div class="col-80 col-offset-10"> -->
        <div class="col ">
          <form ng-submit="save()" name ="form" class="list list-stacked">
            <label class="item item-input">
              <span class="input-label">Mail</span>
              <input type="text" ng-model="users.mail" >
            </label>
            <label class="item item-input">
              <span class="input-label">Age</span>
              <input type="text" ng-model="users.age" >
            </label>
            <label class="item item-input">
              <span class="input-label">Formation</span>
              <input type="text" ng-model="users.formation" >
            </label>
            <label class="item item-input">
              <span class="input-label">Code postal</span>
              <input type="text" ng-model="users.code" >
            </label>
            <label class="item item-input">
              <span class="input-label">Telephone</span>
              <input type="text" ng-model="users.tel">
            </label>
            <div ng-init="users.sexe='Homme'" class="row">
              <span class="input-label">Je suis :</span>
              <ion-radio ng-model="users.sexe" ng-value="'Femme'">Femme</ion-radio>
              <ion-radio ng-model="users.sexe" ng-value="'Homme'">Homme</ion-radio>
            </div>
             <ion-checkbox ng-init="users.info = false" ng-model="users.info">Je souhaite recevoir de l’information sur le programme Erasmus+</ion-checkbox>
               <button type="submit" class="button button-energized button-form">Valider </button>

            </form>
            <h5> Utilisateurs enregistrés </h5>
            <div ng-repeat="u in users">
             {{u.mail}} / {{u.age}} / {{u.formation}} / {{u.code}} / {{u.tel}} / {{u.sexe}} / {{u.info}}
            </div>
      </div>
    </div>
  </div>

  </ion-content>
</ion-view>
