<ion-view view-title="Home">

  <ion-content>

    <div class="row row-center">
      <div class = "col text-center">
        <h1 id="main-title">Programme Erasmus, le jeu</h1>
          <h2>Erasme te met au défi ! Seras-tu capable de le relever ?
          <br>Joue et tente de gagner un des cadeaux mis en jeu</h2>
          <a href ='#/question'>
            <button class="button button-energized button-big bounceInLeft">Participer</button>
          </a>
        </div>
      </div>


    </div>

  </ion-content>
</ion-view>
