<ion-view ng-style = "background_img" view-title="Home">
  <ion-content>
    <div class="row row-center">
      <div class = "col text-center">
        <div class ="col">
          <a href ='#/login'>
            <img id ="tool-img" ng-src = "img/tools-icon.png">
          </a>
        </div>
        <h1 ng-style = "margeStyleObj([text_font,text_color])" id="main-title">Programme Erasmus, le jeu</h1>
        <h2  ng-style = "margeStyleObj([text_font,text_color])" >Erasme te met au défi ! Seras-tu capable de le relever ?
          <br>Joue et tente de gagner un des cadeaux mis en jeu</h2>
          <button class="button button-energized button-big bounceInLeft" ng-click="newSession()" ng-style = "margeStyleObj([color_btn,text_font,])">Participer</button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
