<ion-view view-title="Home">

  <ion-content>

    <div class="row row-center">
      <div class = "col text-center">
        <img src="http://placehold.it/80x80">
        <h2>Programme Erasmus, le jeu</h2>
          <h4>Erasme te met au défi ! Seras-tu capable de le relever ?
            <br>Joue et tente de gagner un des cadeaux mis en jeu</h4>
        <div class="col col-33 col-offset-33">
          <a href ='#/question'>
            <button class="button button-energized button-block">Participer !</button>
          </a>
        </div>
      </div>

    </div>

  </ion-content>
</ion-view>
