<ion-view ng-style = "background_img" view-title="WheelLoose">
  <ion-content>
    <div class="row row-center text-center responsive-sm">
      <div class="col ">
        <h1 ng-style = "margeStyleObj([text_font,text_color])" class="text-center"> Dommage ! <br> Vous avez perdu</h1>
        <a href ='#/fin'>
          <button ng-style = "margeStyleObj([text_font,color_btn_normal])" class="button button-dark button-big"> Continuer </button>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
