<ion-view ng-style = "background_img" view-title="WheelWin">
  <ion-content>
    <div class="row row-center text-center responsive-sm">
      <div class="col ">
        <h1 ng-style = "margeStyleObj([text_font,text_color])"> Bravo ! <br> Vous avez gagné {{cadeau[0].Texte}} </h1>
        <img class ="cadeau_img" ng-src={{cadeau[0].Image}}>
        <h3 ng-style = "margeStyleObj([text_font,text_color])">Merci de vous adresser à un responsable du stand pour obtenir votre lot</h3>
        <a href ='#/fin'>
          <button ng-style = "margeStyleObj([text_font,color_btn_normal])" class="button button-dark button-big"> Continuer </button>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
