<ion-view view-title="WheelWin">

  <ion-content>

    <div class="row row-center text-center responsive-sm">
      <div class="col ">
        <h1 class="text-center win"> Bravo ! <br> Vous avez gagné {{prize}} </h1>
        <img class ="question_img" ng-src="./img/gift.png">
        <h3>Merci de vous adresser à un responsable du stand pour obtenir votre lot</h3>
        <a href ='#/fin'>
          <button class="button button-dark button-big"> Continuer </button>
        </a>
        </div>
      </div>

  </ion-content>
</ion-view>
