<ion-view ng-style = "background_img" view-title="Wheel">

  <ion-content>
    <div class="row row-center">
      <div class="col text-center">
      <h1 id ="wheel-text" ng-style = "margeStyleObj([text_font,text_color])">Lancez la roue ! </h1>
      <div  class = "scalingWheel" id="canvasContainer" ng-click="spin()">
        <canvas id="canvas" width="400" height="400"></canvas>
        <img id="prizePointer" src="img/triangle-64.png" alt="V" />
      </div>

    </div>
  </div>
  </ion-content>
</ion-view>
